.empty_container {
    margin-top: calc(var(--header-height) + 48px);
    padding: 0 10px;

    @media (max-width: 1000px) {
        margin-top: var(--header-height);
    }
}

.empty_state_reset {
    margin-top: 0;
}
