@import 'tailwindcss';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.css';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.Default.css';

:root {
    --background: #0a0b0b;
    --foreground: #ffffff;
    --brand-color: #f5a02f;
    --destructive: #ef4444;
    --map-overlay-bg: rgba(22, 22, 23, 93%);
    --font-montserrat: system-ui;
    --font-thicker: system-ui;

    /* header height + top padding + additional margin from the header */
    --header-height: calc(89px + 20px + 10px + 42px + 13px);

    @media (max-width: 1000px) {
        --header-height: 120px;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
    --font-thicker: 'Thicker Variable Trial', sans-serif;

    --color-ded: var(--brand-color);

    --color-map-overlay-bg: var(--map-overlay-bg);
}

@theme {
    --color-brand: #f5a02f;
    --color-map-overlay-bg: var(--map-overlay-bg);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);

    width: 100%;
    max-width: 100svw;
    overflow-x: hidden;
}

@utility page_width_wrapper {
    max-width: 1645px;
}

@utility header_margin_top {
    margin-top: var(--header-height);
}

@layer utilities {
    .text-destructive {
        color: var(--destructive);
    }

    .border-destructive {
        border-color: var(--destructive);
    }

    .bg-destructive {
        background-color: var(--destructive);
    }
}

@layer utilities {
    .text-destructive {
        color: var(--destructive);
    }

    .border-destructive {
        border-color: var(--destructive);
    }

    .bg-destructive {
        background-color: var(--destructive);
    }
}
