.title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: left;
    width: 100%;

    font-family: var(--font-thicker);
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: #929cad;
    margin-top: 10px;

    text-align: left;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
