.btn {
    width: 100%;
    /* height: 50px; */
    cursor: pointer;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    outline: none;

    height: 40px;

    .content {
        position: relative;
        border-radius: 10px 0 0 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 40px;

        font-size: 16px;
        font-weight: 500;
        color: white;

        padding-left: 19px;

        width: 100%;

        transition: 0.15s;

        gap: 13px;

        z-index: 2;

        p {
            color: black;
            font-size: 11px;
            font-weight: 500;
            margin: 0;
            line-height: 1;

            transition: 0.15s;
        }
    }

    &.medium_weight {
        .content {
            p {
                font-weight: 500;
            }
        }
    }

    &.semibold_weight {
        .content {
            p {
                font-weight: 600;
            }
        }
    }

    .part_icon,
    .outline_part_icon {
        position: relative;
        z-index: 1;
        object-fit: contain;
        flex-shrink: 0;
        display: flex;
        height: 40px;

        path {
            transition: 0.15s;
        }
    }

    .outline_part_icon {
        left: -1px;
    }

    .icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
        display: flex;
        flex-shrink: 0;

        path {
            transition: 0.15s;
        }
    }

    &.big {
        height: 50px;

        .content {
            height: 50px;
            padding-left: 21px;

            p {
                font-size: 13px;
            }
        }

        .part_icon,
        .outline_part_icon {
            height: 50px;
        }

        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &.default {
        .content {
            background-color: var(--brand-color);

            p {
                color: black;
            }

            .icon_fill path {
                fill: black;
            }

            .icon_stroke path {
                stroke: black;
            }
        }

        &:hover {
            .content {
                background-color: #d78312;

                p {
                    color: white;
                }

                .icon_fill path {
                    fill: white;
                }

                .icon_stroke path {
                    stroke: white;
                }
            }

            .part_icon {
                path {
                    fill: #d78312;
                }
            }
        }
    }

    &.twitch {
        .content {
            background-color: #6441a4;

            p {
                color: white;
            }

            .icon_fill path {
                fill: white;
            }

            .icon_stroke path {
                stroke: white;
            }
        }

        .part_icon {
            path {
                fill: #6441a4;
            }
        }

        &:hover {
            .content {
                background-color: #4b62f2;

                p {
                    color: white;
                }

                .icon_fill path {
                    fill: white;
                }

                .icon_stroke path {
                    stroke: white;
                }
            }

            .part_icon {
                path {
                    fill: #4b62f2;
                }
            }
        }
    }

    &.google {
        .content {
            background-color: #ea4335;

            p {
                color: white;
            }

            .icon_fill path {
                fill: white;
            }

            .icon_stroke path {
                stroke: white;
            }
        }

        .part_icon {
            path {
                fill: #ea4335;
            }
        }

        &:hover {
            .content {
                background-color: #4b62f2;

                p {
                    color: white;
                }

                .icon_fill path {
                    fill: white;
                }

                .icon_stroke path {
                    stroke: white;
                }
            }

            .part_icon {
                path {
                    fill: #4b62f2;
                }
            }
        }
    }

    &.outline_bright {
        .content {
            background-color: transparent;
            border: 1px solid white;

            border-right: none;

            p {
                color: white;
            }

            .icon_fill path {
                fill: white;
            }

            .icon_stroke path {
                stroke: white;
            }
        }

        .outline_part_icon {
            path {
                stroke: white;
                fill: transparent;
            }
        }

        &:hover {
            .content {
                border-color: var(--color-brand);

                p {
                    color: var(--color-brand);
                }

                .icon_fill path {
                    fill: var(--color-brand);
                }

                .icon_stroke path {
                    stroke: var(--color-brand);
                }
            }

            .outline_part_icon {
                path {
                    stroke: var(--brand-color);
                }
            }
        }
    }

    &.outline_dark {
        .content {
            background-color: transparent;
            border: 1px solid #79808e;

            border-right: none;

            p {
                color: #79808e;
            }

            .icon_fill path {
                fill: #79808e;
            }

            .icon_stroke path {
                stroke: #79808e;
            }
        }

        .outline_part_icon {
            path {
                stroke: #79808e;
                fill: transparent;
            }
        }

        &:hover {
            .content {
                border-color: var(--color-brand);
                /* background-color: var(--color-brand); */

                p {
                    color: var(--color-brand);
                }

                .icon_fill path {
                    fill: var(--color-brand);
                }

                .icon_stroke path {
                    stroke: var(--color-brand);
                }
            }

            .outline_part_icon {
                path {
                    stroke: var(--brand-color);
                    /* fill: var(--brand-color); */
                }
            }
        }
    }

    &.outline_red {
        .content {
            background-color: transparent;
            border: 1px solid #ef2b4b;

            border-right: none;

            p {
                color: #ef2b4b;
            }

            .icon_fill path {
                fill: #ef2b4b;
            }

            .icon_stroke path {
                stroke: #ef2b4b;
            }
        }

        .outline_part_icon {
            path {
                stroke: #ef2b4b;
                fill: transparent;
            }
        }

        &:hover {
            .content {
                border-color: var(--color-brand);
                /* background-color: var(--color-brand); */

                p {
                    color: var(--color-brand);
                }

                .icon_fill path {
                    fill: var(--color-brand);
                }

                .icon_stroke path {
                    stroke: var(--color-brand);
                }
            }

            .outline_part_icon {
                path {
                    stroke: var(--brand-color);
                    /* fill: var(--brand-color); */
                }
            }
        }
    }

    &.outline_brand {
        .content {
            background-color: transparent;
            border: 1px solid var(--brand-color);

            border-right: none;

            p {
                color: var(--brand-color);
            }

            .icon_fill path {
                fill: var(--brand-color);
            }

            .icon_stroke path {
                stroke: var(--brand-color);
            }
        }

        .outline_part_icon {
            path {
                stroke: var(--brand-color);
                fill: transparent;
            }
        }

        &:hover {
            .content {
                border-color: white;
                /* background-color: var(--color-brand); */

                p {
                    color: white;
                }

                .icon_fill path {
                    fill: white;
                }

                .icon_stroke path {
                    stroke: white;
                }
            }

            .outline_part_icon {
                path {
                    stroke: white;
                    /* fill: var(--brand-color); */
                }
            }
        }
    }

    &.disabled {
        .content {
            background-color: #27272a;

            p {
                color: #79808e;
                font-size: 11px;
                font-weight: 500;
            }

            .icon_fill path {
                fill: #79808e;
            }

            .icon_stroke path {
                stroke: #79808e;
            }
        }

        .part_icon {
            path {
                fill: #27272a;
            }
        }

        &:hover {
            .content {
                background-color: #27272a;

                p {
                    color: #79808e;
                }

                .icon_fill path {
                    fill: #79808e;
                }

                .icon_stroke path {
                    stroke: #79808e;
                }
            }

            .part_icon {
                path {
                    fill: #27272a;
                }
            }
        }
    }
}
