.container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;
    gap: 17px;

    width: 100%;

    overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .title_container {
            p {
                vertical-align: bottom;
                font-family: var(--font-thicker);
                font-weight: 500;
                font-size: 15px;
                color: #ffffff;

                span {
                    font-family: var(--font-montserrat);
                    font-weight: 400;
                    font-size: 14px;
                    color: #79808e;
                }
            }
        }
    }

    .types {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: auto;

        width: 100%;

        /* max-height: 400px; */

        .content {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 12px;

            width: 100%;

            .type {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                height: 50px;

                padding: 0 20px;

                border: 1px solid #33333b;
                border-radius: 7px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    border: 1px solid white;
                }

                &.selected {
                    border: 1px solid var(--color-brand);
                }

                .icon {
                    svg {
                        width: 23px;
                        height: 22px;
                        object-fit: contain;
                    }
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    color: white;
                    margin-left: 17px;
                }

                .count {
                    margin-left: auto;

                    font-size: 13px;
                    font-weight: 500;
                    color: #969daa;
                }
            }
        }
    }
}
