.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;

    .btn {
        width: 100%;

        border: 1px solid var(--color-brand);
        border-radius: 7px;
        outline: none;

        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        transition: 0.15s;

        .icon {
            width: 14px;
            height: 18px;
            object-fit: contain;

            path {
                transition: 0.15s;
            }
        }

        &:hover {
            border-color: white;

            .icon {
                path {
                    stroke: white;
                }
            }
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .desc {
        font-size: 13px;
        font-weight: 500;
        color: #79808e;

        max-width: 311px;
        text-align: center;
    }
}

.preview_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.preview {
    position: relative;
    width: 102px;
    height: 102px;

    overflow: hidden;

    border-radius: 7px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .remove_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(0, 0, 0, 0.5);
        opacity: 0;

        transition: 0.15s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        svg {
            transform: rotate(45deg);
        }
    }
}
