.container {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0f0f10;

    border-radius: 6px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
}
