.customMarkerCluster {
    background-color: #6f6f74;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        0 0 0 5px #6f6f74,
        0 0 0 10px rgba(146, 156, 173, 0.8);
}
