.icon {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: drop-shadow(0 0 8px var(--marker-shadow-color, rgba(0, 0, 0, 0.55)));
    }
}

.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}
