.container {
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;

    padding: 20px;

    @media (min-width: 1000px) {
        display: none !important;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;

    gap: 9px;
}

.box_style {
    background: rgba(17, 17, 18, 70%);
    border-radius: 7px;

    border: 1px solid #34363d;

    height: 66px;

    position: relative;
    z-index: 2;

    user-select: none;
}

.logo {
    width: 66px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        object-fit: contain;
        width: 41px;
    }
}

.menu_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    cursor: pointer;

    width: 100%;

    p {
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
    }

    .menu_icon {
        transition: 0.3s;
        width: 12px;
        height: 12px;

        object-fit: contain;

        transform: rotate(0deg);
    }
    &.open {
        .menu_icon {
            transform: rotate(45deg);
        }
    }
}

.selected_game_container {
    width: 66px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 7px;

    border: 1px solid var(--brand-color);

    svg {
        object-fit: contain;
        width: 52px;
        max-height: 30px;
    }
}

.game_menu_container {
    width: 100%;
    height: 100svh;

    position: absolute;

    top: -101svh;
    left: 0;
    &.open {
        top: 0;
    }

    transition: 0.3s;

    background: var(--color-brand);

    z-index: 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 150px;

    .game_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.nav_menu_container {
    width: 100%;
    height: 100svh;

    position: absolute;

    top: -101svh;
    left: 0;
    &.open {
        top: 0;
    }

    transition: 0.3s;

    background: var(--color-background);

    z-index: 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 150px;

    .nav_menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
