.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.loadout_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 140px;

    &.long_slot {
        width: 360px;

        @media (max-width: 1000px) {
            width: 250px;
        }
    }

    .title {
        font-family: var(--font-thicker);
        font-size: 18px;
        line-height: 1.2;

        text-align: left;
        color: white;

        font-weight: 600;

        width: 100%;

        margin-bottom: 10px;

        white-space: normal;
        overflow-wrap: anywhere;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: 1000px) {
            font-size: 16px;
        }
    }

    .desc {
        font-size: 13px;
        line-height: 1.25;
        font-weight: 400;

        color: #79808e;

        max-width: 140px;

        text-align: center;
        white-space: normal;
        overflow-wrap: anywhere;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .gear_image_container {
        width: 140px;
        height: 102px;

        border-radius: 10px;
        overflow: hidden;

        position: relative;

        border: 1px solid rgba(255, 255, 255, 0.1);

        background: linear-gradient(
            -101.701deg,
            rgba(39, 41, 44, 7%) 0%,
            rgba(10, 11, 11, 28%) 100%
        );

        position: relative;

        &.loading {
            animation: skeleton-loading 1s infinite;
        }

        .gear_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    &.long_slot {
        .gear_image_container {
            width: 360px;

            @media (max-width: 1000px) {
                width: 250px;
            }
        }
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.copy_icon {
    height: 100px;
    object-fit: contain;
    margin-top: 18px;

    user-select: none;
    cursor: pointer;
}
