.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 19px;

    @media (max-width: 550px) {
        flex-direction: column;
    }
}

.send_btn {
    max-width: 150px;
    @media (max-width: 550px) {
        max-width: none;
        width: 100%;
    }
}

.input_container {
    resize: none;

    width: 100%;

    min-height: 40px;

    padding: 15px;

    background: #18191b;
    border: 1px solid #303236;
    border-radius: 7px;

    font-size: 13px;

    outline: none;

    color: white;

    transition: 0.15s;

    &:focus {
        border-color: var(--color-brand);
    }

    &::placeholder {
        color: #7d838c;
    }

    &.errored {
        border-color: #e74c3c;
    }
}
