.container {
    min-height: calc(100svh - var(--header-height));
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    .content {
        width: 100%;
    }

    .content_inner {
        max-width: 733px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        gap: 50px;

        @media (max-width: 840px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    }

    @media (max-width: 840px) {
        .right {
            width: 100%;
        }
    }

    .right {
        width: 100%;

        .username {
            font-size: 36px;
            font-weight: 500;
            color: white;

            margin-bottom: 8px;
        }

        .email {
            font-size: 15px;
            font-weight: 500;
            color: #79808e;

            margin-bottom: 32px;
        }
    }
}

.logout_btn {
    max-width: 150px;
    margin-top: 32px;
}

.customization_btn {
    max-width: 220px;
    margin-bottom: 12px;
}

.logout_dialog_title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: left;
    width: 100%;
    font-family: var(--font-thicker);
}

.logout_dialog_description {
    font-size: 16px;
    font-weight: 400;
    color: #929cad;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.logout_dialog_buttons {
    display: flex;
    gap: 10px;
    margin-top: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
