.gradient_bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 0%, rgba(0, 0, 0, 92%) 71%, #000000 100%);
}

.bg_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.page {
    width: 100%;
    height: 100svh;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 0 var(--page-horizontal-padding);

    padding-bottom: 120px;
}

.content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
        max-width: 704px;
        font-family: var(--font-thicker);
        font-weight: 600;
        font-size: 52px;
        text-align: center;

        color: white;

        @media (max-width: 700px) {
            font-size: 32px;
            max-width: 450px;
        }

        @media (max-width: 500px) {
            font-size: 24px;
            max-width: 300px;
        }
    }

    .games {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 40px;

        margin-top: 38px;
        margin-bottom: 80px;

        @media (max-width: 800px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @media (max-width: 450px) {
            gap: 10px;
        }

        .game {
            color: var(--brand-color);
            font-family: var(--font-thicker);
            font-weight: 400;
            font-size: 18px;

            @media (max-width: 800px) {
                text-align: center;
            }

            @media (max-width: 450px) {
                font-size: 14px;
            }
        }
    }
}

.banner {
    width: 100%;
    max-width: 1124px;
    height: 176px;

    background: #34363d;

    border-radius: 14px;

    background: transparent;
}
