@import 'tailwindcss';
@import 'tw-animate-css';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.css';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.Default.css';

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'Thicker Variable Trial';
    /* src: url('/ThickerVariableTrial-Regular.woff2') format('woff2'),
    url('/ThickerVariableTrial-Regular.woff') format('woff'); */

    /*src: url('./public/Thicker-Variable-Roman-TRIAL.woff2') format('woff2');*/
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --brand-color: #f5a02f;

    --map-overlay-bg: rgba(22, 22, 23, 93%);

    /* header height + top padding + additional margin from the header */
    --header-height: calc(89px + 20px + 10px + 42px + 13px);

    @media (max-width: 1000px) {
        --header-height: 100px;
    }
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.494 0.006 286.167);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    /*--sidebar-border: oklch(0.92 0.004 286.32);*/
    --sidebar-ring: oklch(0.705 0.015 286.067);
    --sidebar-border: hsl(220 13% 91%);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
    --font-thicker: 'Thicker Variable Trial', sans-serif;

    --color-ded: var(--brand-color);

    --color-map-overlay-bg: var(--map-overlay-bg);

    --color-sidebar-ring: var(--sidebar-ring);

    --color-sidebar-border: var(--sidebar-border);

    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

    --color-sidebar-accent: var(--sidebar-accent);

    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

    --color-sidebar-primary: var(--sidebar-primary);

    --color-sidebar-foreground: var(--sidebar-foreground);

    --color-sidebar: var(--sidebar);

    --color-chart-5: var(--chart-5);

    --color-chart-4: var(--chart-4);

    --color-chart-3: var(--chart-3);

    --color-chart-2: var(--chart-2);

    --color-chart-1: var(--chart-1);

    --color-ring: var(--ring);

    --color-input: var(--input);

    --color-border: var(--border);

    --color-destructive: var(--destructive);

    --color-accent-foreground: var(--accent-foreground);

    --color-accent: var(--accent);

    --color-muted-foreground: var(--muted-foreground);

    --color-muted: var(--muted);

    --color-secondary-foreground: var(--secondary-foreground);

    --color-secondary: var(--secondary);

    --color-primary-foreground: var(--primary-foreground);

    --color-primary: var(--primary);

    --color-popover-foreground: var(--popover-foreground);

    --color-popover: var(--popover);

    --color-card-foreground: var(--card-foreground);

    --color-card: var(--card);

    --radius-sm: calc(var(--radius) - 4px);

    --radius-md: calc(var(--radius) - 2px);

    --radius-lg: var(--radius);

    --radius-xl: calc(var(--radius) + 4px);
}

@theme inline {
    --color-brand: #f5a02f;

    --color-map-overlay-bg: var(--map-overlay-bg);
}

@theme {
    --color-brand: #f5a02f;

    --color-map-overlay-bg: var(--map-overlay-bg);
}

body {
    font-family: var(--font-sans);

    width: 100%;
    max-width: 100svw;
    overflow-x: hidden;
}

@utility page_width_wrapper {
    max-width: 1645px;
}

@utility header_margin_top {
    margin-top: var(--header-height);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    :root {
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
    }

    .dark {
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
    }
}
