.container {
    width: 296px;
    height: 296px;
    border-radius: 16px;
    display: block;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    width: 100%;
    height: 100%;
    background: #1b1c1f;
}

.edit_btn {
    position: absolute;
    bottom: -15px;
    right: -15px;

    background: #151617;

    width: 43px;
    height: 43px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 7px;

    cursor: pointer;

    transition: 0.15s;
}

.edit_btn svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: flex;
    flex-shrink: 0;
}

.edit_btn svg path {
    transition: 0.15s;
    stroke: #79808e;
}

.edit_btn:hover {
    background: #242426;
}
