.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    gap: 16px;

    height: 350px;

    @media (max-width: 680px) {
        height: auto;
        flex-direction: column;
    }
}

.main_image {
    width: 100%;
    min-width: 0px;
    max-height: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 1;
    display: flex;

    @media (max-width: 680px) {
        max-height: 200px;
    }
}

.gallery_images {
    width: 225px;
    flex-shrink: 0;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-content: stretch;
    gap: 16px;

    @media (max-width: 680px) {
        width: 100%;
        height: 60px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
        grid-auto-rows: none;
        align-content: none;
        gap: 10px;
    }
}

.gallery_image {
    object-fit: cover;
    border-radius: 8px;

    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
