.container {
    min-height: calc(100svh - var(--header-height));
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    gap: 7px;
    margin-top: 70px;
    margin-bottom: 32px;
    align-items: center;

    h1 {
        font-family: var(--font-thicker);
        font-weight: 600;
        font-size: 18px;
        margin-right: 14px;
    }

    p {
        color: #79808e;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.header_actions {
    display: flex;
    align-items: center;
    gap: 8px;
}
