.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: #ffff;
    border-radius: 5px;
    padding: 11px;

    p {
        font-size: 13px;
        font-weight: 500;
        color: white;

        transition: 0.3s;
    }

    svg {
        path {
            stroke: black;
            transition: 0.3s;
        }
    }

    &:hover {
        cursor: pointer;

        p {
            color: var(--brand-color);
        }
    }

    &:hover {
        svg {
            path {
                stroke: var(--brand-color);
            }
        }
    }
}
