.container {
    margin-top: 35px;

    margin-bottom: 40px;

    .title {
        font-family: var(--font-thicker);
        font-weight: 600;
        font-size: 16px;
        color: white;
        margin-bottom: 18px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 16px;

    width: 100%;
}

.skeleton {
    height: 64px !important;
}

.empty_state {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    gap: 16px;

    /* margin-top: 42px; */

    background: rgba(255, 255, 255, 0.02);
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    margin-top: 16px;
}

.empty_state_icon {
    width: 64px;
    height: 64px;
    color: rgba(255, 255, 255, 0.2);
}

.empty_state_text {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}
