.dialog_overlay {
    z-index: 105;

    background: rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    backdrop-filter: blur(5px);
}

.dialog_wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100svh;

    /* position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%); */

    z-index: 110;
}

.dialog_content {
    z-index: 111;
    max-width: 501px;
    width: 100%;
    height: fit-content;
    max-height: 90svh;
    overflow-y: auto;

    background: #0f0f10;
    border: 1px solid #34363d;

    border-radius: 13px;
    padding: 35px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
