.container {
    background: linear-gradient(-101.701deg, rgba(39, 41, 44, 7%) 0%, rgba(10, 11, 11, 28%) 100%);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skeleton {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(
        90deg,
        rgba(39, 41, 44, 0.9) 0%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(39, 41, 44, 0.9) 100%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 3.5s ease-in-out infinite;
}

@keyframes skeleton-loading {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}
