.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    padding: 20px 30px 20px 20px;

    background: #0f0f10;
    border-radius: 13px;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    &:hover {
        background: #212224;
        cursor: pointer;

        transition: 0.15s;
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @media (max-width: 600px) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .reward_img {
        width: 68px;
        height: 68px;
        min-width: 68px;
        border-radius: 10px;
        border: 1px solid #34363d;
        object-fit: cover;
    }

    .title_container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        gap: 8px;

        .title {
            font: var(--font-thicker);
            font-weight: 500;
            font-size: 15px;
            color: white;

            line-height: normal;
        }

        .desc {
            color: #79808e;
            font-size: 13px;
            font-weight: 500;

            line-height: normal;

            word-break: break-word;
            max-width: 380px;
        }
    }

    .meta_container {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.text_item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    flex-direction: column;

    .text_item_title {
        color: #79808e;
        font-size: 13px;
        font-weight: 500;

        line-height: normal;
    }

    .text_item_desc {
        color: white;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;

        text-transform: capitalize;
    }
}

.btn {
    max-width: 150px;
    width: 100%;
    flex-shrink: 0;

    @media (max-width: 600px) {
        margin-top: 20px;
        width: 100%;
        max-width: unset;
    }
}
