.container {
    position: absolute;
    bottom: 40px;
    left: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    overflow: hidden;

    width: 334px;

    z-index: 100;

    &.hidden {
        width: fit-content !important;
        background: var(--color-map-overlay-bg);
        padding: 11px;
        border-radius: 6px;
    }

    &.open {
        max-height: calc(100svh - 250px);
    }

    @media (max-width: 1000px) {
        &.open {
            max-height: 100svh;

            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100svh;
            background: var(--color-map-overlay-bg);
            z-index: 200;
        }
    }
}

.info_container {
    background: var(--color-map-overlay-bg);

    padding: 11px 11px 19px 11px;
    border-radius: 13px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;

    width: 100%;

    height: fit-content;

    z-index: 200;

    .preview {
        width: 100%;
        height: 64px;
        border-radius: 6px;
        object-fit: cover;

        @media (max-width: 1000px) {
            height: 128px;
        }
    }

    h1 {
        font-family: var(--font-thicker);
        font-weight: 500;
        font-size: 17px;
        color: #ffffff;
    }

    p {
        font-size: 12px;
        color: #79808e;
        font-weight: 400;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 9px;
    }
}

.search_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    background: var(--color-map-overlay-bg);

    padding: 11px;
    border-radius: 13px;

    width: 100%;

    height: 100%;

    overflow: hidden;

    @media (max-width: 1000px) {
        height: 100%;

        overflow: hidden;

        padding-bottom: 0;
    }

    h2 {
        font-family: var(--font-thicker);
        font-weight: 500;
        font-size: 15px;
        color: #ffffff;
        margin-left: 11px;
        margin-bottom: 12px;
    }

    .categories {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        margin-top: 15px;

        /* @media (max-width: 1000px) { */
        height: 100%;

        overflow-y: auto;

        padding-bottom: 20px;
        /* } */

        .category {
            border: 1px solid #33333b;
            width: 100%;
            height: fit-content;
            padding: 0 14px 0 20px;
            height: 56px;
            border-radius: 7px;
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 22px;

                .color {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0px;

                    h3 {
                        font-weight: 500;
                        font-size: 15px;
                        color: #ffffff;

                        line-height: auto;
                    }

                    p {
                        line-height: auto;
                        color: #79808e;

                        font-size: 12px;
                        color: #79808e;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
