.container {
    width: 188px;
    height: 50px;

    margin-left: auto;

    cursor: pointer;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .content {
        width: 100%;
        background: white;
        height: 100%;

        transition: 0.3s;

        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: 17px;

        gap: 14px;

        border-radius: 5px 0 0 5px;

        p {
            font-size: 16px;
            font-family: 500;

            color: black;

            transition: 0.3s;
        }

        .chevron {
            width: 5px;
            object-fit: contain;
            flex-shrink: 0;
            display: flex;

            path {
                transition: 0.3s;
                stroke: black;
            }
        }
    }

    .icon {
        height: 50px;
        object-fit: contain;
        flex-shrink: 0;
        display: flex;

        path {
            transition: 0.3s;

            fill: white;
        }
    }

    &:hover {
        .content {
            background-color: var(--color-brand);

            .chevron {
                path {
                    stroke: white;
                }
            }

            p {
                color: white;
            }
        }

        .icon {
            path {
                fill: var(--color-brand);
            }
        }
    }
}

.logout_btn {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 5px;

    background: #242426;

    margin-left: 10px;
}
