.logo {
    object-fit: contain;

    path {
        transition: 0.3s;
        fill: #79808e;
    }

    &:not(.disabled):hover {
        path {
            fill: white;
        }
    }
    &.black {
        path {
            fill: black;
        }
    }

    &.selected {
        path {
            transition: 0.3s;
            fill: white;
        }
    }
}

.arc_raiders_logo {
    width: 120px;
    height: 37px;
}

.arena_breakout_logo {
    width: 150px;
    height: 37px;
}

.active_matter_logo {
    width: 45px;
    height: 42px;
}

.tarkov_logo {
    width: 113px;
    height: 34px;
}

.logo_container {
    height: 62px;

    padding: 0 11px;
    padding-bottom: 23px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: relative;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

.soon_badge {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 2;

    padding: 1px 4px;
    border-radius: 999px;

    background: #f5a02f;
    color: #111112;

    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.selected_line {
    width: 100%;

    height: 3px;

    position: absolute;
    bottom: 0;
    left: 0;

    &.selected {
        background: #f5a02f;
        box-shadow: 0px -3px 31.399999618530273px 2px rgba(245, 160, 47, 67%);
    }
}
