.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;

    padding: 0 10px;
}

.news_content {
    margin-top: 91px;
    width: 100%;

    max-width: 892px;

    @media (max-width: 1000px) {
        margin-top: 0;
    }
}

.title {
    font-family: var(--font-thicker);
    font-weight: 500;
    font-size: 28px;

    color: #ffffff;
    margin-top: 35px;

    margin-bottom: 26px;

    @media (max-width: 1000px) {
        margin-bottom: 16px;
    }
}

.date {
    background: linear-gradient(-101.701deg, rgba(39, 41, 44, 7%) 0%, rgba(10, 11, 11, 28%) 100%);
    border: 1px solid #232527;
    padding: 12px 18px;
    border-radius: 10px;

    font-size: 13px;
    font-weight: 500;
    color: #79808e;
    margin-top: 35px;

    width: fit-content;
}

.sticky {
    position: sticky;

    top: calc(var(--header-height) + 91px);

    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-left: 92px;
    gap: 92px;

    @media (max-width: 1240px) {
        margin-left: 40px;
        gap: 40px;
    }

    @media (max-width: 950px) {
        display: none;
    }
}

.separator {
    width: 1px;
    height: calc(80svh - var(--header-height) + 91px);
    background: #25272a;
}

.recommended_news {
    max-width: 387px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
}
