.wrapper {
    display: flex;
    width: 100%;
    min-height: 179px;
    flex: 1;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow: hidden;

    background: #0f0f10;
    border: 1px solid #34363d;

    border-radius: 13px;
}

.container {
    display: flex;
    width: 100%;
    flex: 1;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 22px;

    overflow: hidden;

    &.no_bottom_padding {
        padding-bottom: 0;
    }
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 12px;

    p {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
    }

    .icon_container {
        display: flex;
        align-items: center;
        justify-content: center;

        background: #202022;

        border-radius: 100%;
        padding: 8px;
        width: 39px;
        height: 39px;

        svg {
            object-fit: contain;
        }
    }
}

.desc {
    margin-top: 12px;
    margin-bottom: 33px;

    font-size: 13px;
    font-weight: 500;
    color: #79808e;
}

.points_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 16px;
    margin-top: auto;

    .points_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;

        .sub_title {
            font-family: var(--font-thicker);
            font-size: 13px;
            font-weight: 400;
            color: #79808e;
        }

        .amount {
            color: var(--color-brand);
            font-size: 50px;
            font-weight: 500;
            line-height: normal;
        }
    }

    .btn {
        max-width: 150px;
        width: 100%;
    }
}

.season_info_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-top: 22px;

    .item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 6px;

        .sub_title {
            font-family: var(--font-thicker);
            color: #79808e;
            font-weight: 400;
            font-size: 13px;
            line-height: normal;
        }

        .content {
            color: white;
            font-weight: 600;
            font-size: 15px;
            line-height: normal;
        }
    }
}

.wave_container {
    margin-top: 22px;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .wave {
        height: 100%;

        object-fit: cover;
    }
}
